*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

/* pagina home*/
.logo{
    width: 150px;
    position: relative;
    left: 60rem;
    top: 10rem;
    z-index: 1;
}

.banner{
    width: 95vw;
    height: 200px;
    object-fit: cover;
    object-position: 0 -120px;
    position: relative;
    bottom: 10rem;
    left: 1.5rem;
}

.titulo{
    font-size: 3.5rem;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    left: 2rem;
    top: 1rem;
}

.navbar{
    position: relative;
    left: 8rem;
    bottom: 5rem;
}

.navbar>a{
    display: block;
    margin: 0 3em 4em 3em;
}

.upcoming{
    border: 1px solid black;
    color: white;
    width: 95vw;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: lighter;
    position: relative;
    bottom: 25.6rem;
    padding: 5px;
    left: 1.5rem;
}

.fechas{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    position: relative;
    left: 25rem;
    bottom: 22rem;
}

.fechas>dd{
    margin-bottom: 2rem;
    margin-left: 1.5rem;
}

/*pagina about*/

.about{
    border: 1px solid black;
    color: white;
    width: 95vw;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: lighter;
    position: relative;
    bottom: 25.6rem;
    padding: 5px;
    left: 1.5rem;
}

.informacion{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    position: relative;
    left: 22rem;
    bottom: 25rem;
    max-width: 35rem;
}
.informacion h4{
    font-size: 1rem;
}

.informacion>p{
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.texto{
    text-align: justify;
}


/*Pagina Contact*/

.contacto{
    border: 1px solid black;
    color: white;
    width: 95vw;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: lighter;
    position: relative;
    bottom: 25.6rem;
    padding: 5px;
    left: 1.5rem;
}

.infocontacto{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    position: relative;
    left: 22rem;
    bottom: 20rem;
}

.infocontacto>p{
    margin-bottom: 2rem;
}

p>a{
    margin: 1rem;
}