/*ponemos en cero los parametros de la pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*pagina Home*/

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-style: oblique;
    overflow: hidden;
}

.logo{
    width: 150px;
}

header{
    background-image: url("../imagenes/design1_image2.jpg");
    width: 95vw;
    height: 200px;
    margin-top: 3.3rem;
    background-position: 0 -190px;
    margin-left: 2.3rem;
}

.titulo{
    position: absolute;
    top: 0.1rem;
    left: 2.8rem;
    font-size: 3rem;
    font-weight: lighter;
    
}

.navbar{
    position: relative;
    left: 55rem;
    bottom: 13.5rem;
}

.navbar>a{
    text-decoration: none;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    margin-right: 0.5rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    box-shadow: 0px 3px 5px 0 black;
    font-style: normal;
}

.active{
    background-color: green!important;
}

/* .navbar>a:hover{
    background-color: forestgreen;
} */

.logo{
    position: relative;
    top: 15rem;
    left: 5rem;
}

.upcoming{
    border: 1px solid black;
    color: black;
    width: 95vw;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: lighter;
    position: relative;
    left: 2.3rem;
    bottom: 1.3rem;
    padding: 5px;
}

.fechas{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    position: relative;
    left: 25rem;
    top: 1rem;
}

.fechas>dd{
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
} 


/*pagina About*/


.about{
    border: 1px solid black;
    color: rgb(0, 0, 0);
    width: 95vw;
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: lighter;
    position: relative;
    left: 2.3rem;
    bottom: 1.3rem;
    padding: 5px;
}

.informacion{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    position: relative;
    left: 20rem;
    bottom: 1rem;
    max-width: 55rem;
    font-size: 1rem;
}
.informacion h4{
    font-size: 1.3rem;
}

.informacion>p{
    margin-bottom: 2rem;
}

.texto{
    text-align: justify;
}

/*pagina contacto*/

.contacto{
    border: 1px solid black;
    color: rgb(0, 0, 0);
    width: 95vw;
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: lighter;
    position: relative;
    left: 2.3rem;
    bottom: 1.3rem;
    padding: 5px;
}

.infocontacto{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    position: relative;
    left: 28rem;
    top: 3rem;
}

.infocontacto>p{
    margin-bottom: 2rem;
}

p>a{
    margin: 1rem;
}