*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos logo, header y navbar de task 2 de styles2.css 
(diseño 2)*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-style: oblique;
    overflow-x: none;
}

.logo{
    width: 10rem;
}

header{
    display: flex;
    background-image: url("../imagenes/design1_image2.jpg");
    min-width: 95vw;
    height: 150px;
    background-position: 0 -190px;
}

.titulo{
    color: aliceblue;
    font-size: 3rem;
    font-weight: lighter;
    
}

.navbar{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    
}

.navbar>a{
    text-decoration: none;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    margin-right: 0.5rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    box-shadow: 0px 3px 5px 0 black;
    font-style: normal;
}

.active{
    background-color: green!important;
}

/*Hasta aca estilos logo, header y navbar de task 2*/

/* estilos para mapas */


.mapas-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titulo-mapas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 1.5rem;
}

.mapa{
    width: calc(50% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
}

.mapa iframe{
    width: 50%;
    height: auto;
    border: 0;
}

.mapa figcaption{
    margin-top: 10px;
}

/* hasta aca estilos mapas */

/* estilos de la tabla */


.titulo-tabla{
    display: flex;
    flex-direction: column;
}

h4{
    font-style: oblique;
    font-weight: bold;
}

section>span{
    text-decoration: underline;
    font-style: oblique;
}

main{
    display: flex;
    margin: 1rem;
    margin-bottom: 1.5rem;
}

th,td{
    text-align: center;
    padding: 0.3rem ;
}

/* hasta aca estilos de la tabla */

.responsable{
    display: flex;
    margin: 1rem;
}

.phone-email,
.responsable{
    display: flex;
    gap: 5rem;
}
 
.notas, .responsable, .phone-email{
 margin-left: 1rem;
}
